#body {
	padding: 0px;
	background: white;
	color: black;
	overflow-y: hidden;
}

.message{
	font-family: 'Baloo 2', cursive;
	font-size: 48px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

a {
	font-size: 1em;
	font-family: 'Baloo 2', cursive;
	color: blue;
}

#notSupported {
	display: none;
}

#notSupported h1 {
	color: #b41a1a;
	margin-bottom: 20px;
}

#notSupported img {
	display: block;
	margin: 0 auto;
}

#ascii {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: -1.5px;
	text-align: center;
	margin-top: 25px;
}

.center {
	align-items: center;
	display: inline;
}

