* {
    margin: 0;
    padding: 0;
}

section.header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 0px 1.5em #53514f;
}

.textheader {
    z-index: 2;
    top: 10em;
}

.textheader h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 6em;

}

.textheader mark {
    background-color: white;
}

section.footer {
    position: relative;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 0px 1.5em #53514f;
}


section.headerml {
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 0px 1.5em #53514f;
    margin-top: 1em;
}

.textheaderml {
    top: 0em;
}

.textheaderml h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 6em;

}

.textheaderml mark {
    background-color: white;
}